body {
  background-color: blanchedalmond;
  margin: 0.5rem 23rem;
  padding: 2rem 0.8rem;
  border: 2px solid #20437c;
  border-radius: 10px;
  border-color: cornflowerblue;
  flex-direction: column;
}

.upcoming-releases {
  font-size: 30px;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #20437c;
  border-radius: 5px;
  background-color: aqua;
  
}

.allApp {
  margin: 30px;
  
}